{% extends "base.html" %}

{% block head%}

{% endblock  %}

{% block body %}

<div class="center_text">
    <h1>LOGIN</h1>
    <title>VulnChecker</title>
    <form>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
    </form>
    <form>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </form>
    <br>
    <a href="{{ url_for('registration') }}">Нет аккаунта? Зарегистрироваться</a>

</div>

{% endblock %}