{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="text">
  <div class="sign_in">
    <h1>WHO AM I?</h1>
    {% for message in get_flashed_messages() %}
        <p style="color:red;text-align:center">{{ message }}</p>
    {% endfor %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <br>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <br>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
        <br>
    </form>
    <a href="{{ url_for('registration') }}">Нет аккаунта? Зарегистрироваться</a>
  </div>

</div>
{% endblock %}