{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="text">
    <div class="sign_in">
        <h1>REGISTRATION</h1>
        <form method="GET" action="{{ url_for('login') }}">
            <div class="text">
                <label for="username">USERNAME: </label><br>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="text">
                <label for="password">PASSWORD:</label><br>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <button type="submit">Зарегистрироваться</button>  
        </form>
    </div>
</div>
{% endblock %}