{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="text">
    <h1>SCAN</h1>
    {% for message in get_flashed_messages() %}
        <p style="color:red;text-align:center">{{ message }}</p>
    {% endfor %}
    <form method="post", action="{{ url_for('scan') }}">
        <label for="code">CODE: </label><br>
        <input type="text", id="code", name="code">
        <br>
        <h2>OR</h2>
        <br>
        <label for="repo">REPO</label><br>
        <input type="text", id="repo", name="repo">
        <br>
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock %}